*/.dirstamp
.libs/
oltool
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
*/.deps/
libtool
ltmain.sh
missing
openlyrics-0.7.pc
stamp-h1
*.lo
*.la
libol-ruby/Manifest
libol-ruby/pkg/
